.books-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.books-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-container select, .search-container button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.books-container ul {
    list-style-type: none;
    padding: 0;
}

.books-container li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.books-container li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.books-container li a:hover {
    text-decoration: underline;
}
